@import "../../App.scss";

.services {

    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 20px;
    max-width: 1240px;
    margin: auto;

    @include mobile {
        // padding: 40px 10px;
        gap: 20px;
        transform: translateX(0px) !important;
    }

    .textContainer {
        flex: 1;
        // align-self: flex-end;
        display: flex;
        // align-items: center;
        gap: 5px;

        flex-direction: column;

        @include mobile {
            // align-self: center;
        }

        p {
            font-weight: 300;
            font-size: 20px;
            color: gray;
            // text-align: right;
        }

        h2 {
            font-size: 40px;
            // border: none;
            // border-top: 0.5px solid gray;

            // @include mobile {
            //     width: 300px;

            // }
        }
    }

    .titileContainer {
        width: 100%;
        max-width: 700px;
        color: rgb(207, 207, 207);
        // flex: 2;
        // display: flex;
        // align-items: center;
        // flex-direction: column;

        @include mobile {
            width: 100%;
        }

        .title {
            display: flex;
            align-items: center;
            gap: 50px;

            @include mobile {
                gap: 20px;
                flex-direction: column;
                // text-align: center;
            }

            img {
                width: 260px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;
                display: none;
            }

            h1 {
                font-weight: 100;
                font-size: 60px;

                @include mobile {
                    font-size: 35px;

                }
            }

            button {
                width: 200px;
                height: 100px;
                border-radius: 50px;
                border: none;
                background-color: orange;
                font-size: 24px;
                cursor: pointer;

                @include mobile {
                    width: 150px;
                    font-size: 20px;
                    height: 50px;

                }
            }
        }
    }

    .listContainer {
        flex: 2;
        display: flex;
        max-width: 1240px;
        margin: auto;

        margin-top: 40px;
        gap: 20px;
        // flex-wrap: wrap;

        @include mobile {
            flex-direction: column;
            align-items: center;
        }

        .box {
            flex: 1;
            padding: 30px;
            border: 0.5px solid gray;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 5px;
            // align-items: c;
            gap: 20px;

            @include mobile {
                //    flex:auto
            }

            &:hover img {
                transform: rotate(360deg);
                transition: all 0.8s ease-in-out;
            }

            img {
                width: 100px;
                height: 100px;
                margin: auto;
            }

            @include mobile {
                padding: 20px;
                // border: none;
            }
            h2{
                @include mobile {
                   font-size: 24px;
                   text-align: center;
                }
            }

            p {
                @include mobile {
                    display: none;
                }
            }

            // button {
            //     padding: 10px;
            //     background-color: orange;
            //     border: none;
            //     cursor: pointer;
            //     font-size: 24px;

            //     @include mobile {
            //         background-color: transparent;
            //         border: 1px solid orange;
            //         border-radius: 8px;
            //         color: orange;
            //         width: 50%;
            //         margin: auto;
            //     }
            // }
        }
    }
}