@import "../../App.scss";

.navbar {
    height: 90px;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1240px;
        margin: auto;
        height: 100%;
padding-right: 10px;
        @include mobile {
            justify-content: flex-end;
            padding: 20px;
        }

        .logo {
            font-weight: bold;
            @include mobile {
                display: none;
            }
            // @include tablet {
            //     margin-left: 100px;
            // }
            @include desktop {
                margin-left: 100px;
            }
        }

        .socialLinks {
            display: flex;
            gap: 20px;

            img {
                height: 20px;
                width: 20px;
            }
        }
    }
}