.navbar {
    height: 90px;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1240px;
        margin: auto;
        height: 100%;

        .logo {
            font-weight: bold;
        }

        .socialLinks {
            display: flex;
            gap: 20px;

            img {
                height: 20px;
                width: 20px;
            }
        }
    }
}