@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: "DM Sans" sans-serif;
    // font-family: 'Roboto Slab', serif;
    font-family: "Poppins", sans-serif;
    
}

$theme-bg : #0c0c1d;
$theme-text : #d3d3d3;

html {
    // scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    color: $theme-text;
    background-color: $theme-bg;
    overflow-x: hidden;
}

section {
    // height: 100vh;
    background-color: $theme-bg;
    // scroll-snap-alig\\n: center;

}

a {
    text-decoration: none;
    color: inherit;
}



// Responsiveness

@mixin mobile {
    @media (max-width:730px) {
        @content
    }
}

@mixin tablet {
    @media (max-width:1024px) and (min-width:731px) {
        @content
    }
}

@mixin desktop {
    @media (max-width:1260px) {
        @content
    }
}